


#rustsuperid {
  position: absolute !important;
  /* top: 0 !important; */
  right: 0 !important;
}

#commentContainer > div.ownChild {
    color: red !important;
}

[data-rust-identity="identity"] {
    /* Styles */
  position: fixed !important;
  bottom: 0px !important;
  right: 0px !important;
  background-color: white !important;
  border:1px solid grey !important;
  padding:5px !important;
  margin:5px !important;
  z-index: 99999 !important;
}

[data-rust-identity="identity"] .ownChild {
  color: red !important;
}
#commentContainer > div.ownChild, .ownChild {
    color: red !important;
}
